@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

body {
  /* background-image: url("https://source.unsplash.com/featured/?royal"); */
  background-attachment: fixed;
  background-position: 50% 50%; /* or: center center */
  background-size: cover;
  background-repeat: no-repeat; /* CSS3 */
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

a {
  color: #363636;
  text-decoration: none;
}

a:hover {
  color: #1b1b1b;
}

#svelte {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  #svelte {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }

  a {
    color: #d8d8d8;
  }

  a:hover {
    color: #eeeeee;
  }
}
